*.cache
*.dll
*.exe
PICkit2V2S1/PICkit2V2/obj
PICkit2V2S1/PICkit2V2/bin/Release/CmdLogScript.txt
PICkit2V2S1/PICkit2V2/bin/Release/CmdLog.txt
PICkit2V2S1/PICkit2V2/bin/Release/PICkit2V2.pdb
*.cache
PICkit2V2S1/PICkit2V2/bin/Debug/CmdLog.txt
PICkit2V2S1/PICkit2V2/bin/Debug/CmdLogScript.txt
PICkit2V2S1/PICkit2V2/bin/Debug/PICkit2V2.pdb
PICkit2V2S1/PICkit2V2/bin/Debug/PICkit2V2.vshost.exe.manifest
PICkit2V2S1/PICkit2V2/bin/Production/CmdLog.txt
PICkit2V2S1/PICkit2V2/bin/Production/CmdLogScript.txt
PICkit2V2S1/PICkit2V2/bin/Debug/PICkit2.ini
PICkit2V2S1/PICkit2V2/bin/Production/PICkit2.ini